@keyframes move{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360);
    }
}
.second{
    animation: move 60s infinite step(60);
    transform-origin: center bottom;
}